
body {
  background-color: black;
}

#root {
  width: 1000px;
  height: 750px;
  margin: auto;
  position: relative;
  border: 2px solid white;
}

canvas {
  position: absolute;
}

#bg {
  z-index: 1;
}
#map {
  z-index: 2;
}
#an {
  z-index: 3;
}
#tint {
  z-index: 4;
}
#ui {
  z-index: 5;
}
#uian {
  z-index: 6;
}